@font-face { font-family: 'lyf_mulanbook';
  src: url('lyf_mulan-webfont.woff2') format('woff2'),
       url('lyf_mulan-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fc_activelight';
  src: url('fc_active_light-webfont.woff2') format('woff2'),
       url('fc_active_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'cloudlight';
  src: url('cloud-light-webfont.woff2') format('woff2'),
       url('cloud-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'fc_activeregular';
  src: url('fc_active_regular-webfont.woff2') format('woff2'),
       url('fc_active_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
  .latern img{
    margin-top: 0px;
    width: 50px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 24px;
    float: left;
}
.latern{
        margin-left: 90px;
        margin-right: 25px;
    }

  .cfont{
    font-size: 28pt;
    font-family: 'fc_activelight';
    display : flex;
    
  }
  .color{
    margin: auto;
    background-position-x: center;
    background-size: 75% 75%   ;
    background-image: url(../image/Food\ Frame.png);
    background-repeat: no-repeat;
    background-position:center;
  }
  .colortp{
    text-shadow : 3px 3px 6px #000000;
    -webkit-text-stroke:3px #8A2424;
    text-align: center;
    color: white;
    font-size: 144pt;
    font-family:'lyf_mulanbook' ;
  }
  .colorthtp{
    font-size: 44pt;
    color: #8A2424;
    font-family: 'fc_activeregular';
    text-align: center;
  }
  .move{
    padding-top: 100pt;
  }
  .Color {
    margin: 0;
    background-color:  #cda062;
    padding-bottom: 10px;
  }
  
  .redsquare{
    height: 100px;
    width: 100px;
    margin-right : 20px;
    background-color:  #8A2424;
    box-shadow : 3px 3px 6px #000000;;
  }
  .yellowsquare{
    height: 100px;
    width: 100px;
    margin-right : 20px;
    background-color:   #cda062;
    box-shadow : 3px 3px 6px #000000;;
  }
  .whitesquare{
    height: 100px;
    width: 100px;
    margin-right : 20px;
    background-color: white;
    box-shadow : 3px 3px 6px #000000;;
  }