@font-face { font-family: 'lyf_mulanbook';
  src: url('lyf_mulan-webfont.woff2') format('woff2'),
       url('lyf_mulan-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fc_activelight';
  src: url('fc_active_light-webfont.woff2') format('woff2'),
       url('fc_active_light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'cloudlight';
  src: url('cloud-light-webfont.woff2') format('woff2'),
       url('cloud-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'fc_activeregular';
  src: url('fc_active_regular-webfont.woff2') format('woff2'),
       url('fc_active_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

  .thishover:hover{
  box-shadow : 3px 3px 6px rgba(0, 0, 0,0.4);
  transition: 1s;
  }
  p{ 
    font-family: 'fc_activelight';
    color: black;
    font-size: 28pt;
  }
  .mushroom img{
    margin-left: 30pt;
    margin-right: 30pt;
  }
  .tofu img{
    margin-left: 30pt;
    margin-right: 30pt;
  }
  .noodle img{
    margin-left: 30pt;
    margin-right: 30pt;
  }
  .cabage img{
    margin-left: 30pt;
    margin-right: 30pt;
  }
  .foodpic{
    justify-content: center;
    align-items: center;
    position: center;
    text-align: center;
    display : flex;
    
  }
  .foodtopic{
    margin-bottom : 52pt;
    text-shadow : 3px 3px 6px #000000;
    color: black;
    font-size: 144pt;
    background-size: 56%;
    background-repeat: no-repeat;
    font-family:'lyf_mulanbook' ;
    background-position: center;
    text-align: center;
    background-image:url(../image/Food\ Frame.png);
  }
  .fontcontent{
   
    font-family: 'cloudlight';
    font-size: 28pt;
  }
  .arrow img{ 
    margin-top : 18pt;
    margin-bottom : 52pt;
    animation: bounce 0.8s; 
    animation-direction: alternate; 
    animation-timing-function: cubic-bezier(.10, 0.05, 1, .5); 
    animation-iteration-count: infinite; 
} 
  
@keyframes bounce { 
    from { 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        transform: translate3d(0, 50px, 0); 
    } 
} 


  .Food {
    background-image: url(../image/moon.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    background-color: #FFF3DB;
    text-align: center;
    padding-bottom: 300pt;
  }
  .w11{
    position: absolute;
    top: 3800pt;
    left: 1000;
  }
  .SM img{
    width: 350px;
  }